/* =========================
   基本レイアウト（PC・スマホ共通）
========================= */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin: 20px 0;
}

button, input[type="button"] {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

lt{
    margin: 10px 0;
    font-size: 18px;
}


/* =========================
   スマホ用（幅768px以下）
========================= */
@media (max-width: 768px) {

    body {
        font-size: 14px; /* 文字少し小さく */
    }

    .container {
        width: 100%; /* 横幅いっぱいに */
        padding: 0 10px;
    }

    h1 {
        font-size: 20px;
    }

    button, input[type="button"] {
        width: 50%;   /* ボタンを全幅に */
        font-size: 16px;
        padding: 12px;
    }

}
